[user]
	email = robd@uber.com
	name = Rob Day
[core]
	excludesfile = /Users/dayr/.gitignore_global
	quotepath = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain

[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = red reverse
    local = blue
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[pull]
    default = current
[alias]
    ls = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    lsr = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    ll = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --numstat
    search = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --numstat -S
    rmtag = !sh -c 'git tag -d $1 && git push origin ":refs/tags/$1"' -
    mvtag = !sh -c 'git tag $2 $1 && git rmtag $1 && git push origin $2' -
	rmbranch = !sh -c 'git branch | grep "$1" | xargs git branch -D'  -
    unstage = reset HEAD
    s = status
    ca = commit --amend
    pom = "!f(){ git pull origin master && git submodule update --init --recursive; };f"
    c = checkout
    cfu = commit --fixup
[push]
	default = current
[mergetool]
	keepBackup = false
[http]
	sslVerify = false
